body,h1,h2,h3,h4,h5,h6,p,ol,ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.tcsbox{
	width: 500px;
	height: 500px;
	border:1px solid #000; 
	margin: 0 auto;
}
.block{
	width: 25px;
	height: 25px;
	background:#ccc;
	float: left;
}
.btn{
	width:100px;
	margin:20px auto;
	border:1px solid #333;
	padding:10px 20px;
}
.btn p{
	text-align: center;
}